// Template file, copy it to FLSharekit_secrets.h and change it.

#define FL_TWITTER_CONSUMER_KEY      @""
#define FL_TWITTER_SECRET            @""
#define FL_TWITTER_CALLBACK_URL      @""
#define FL_BITLY_LOGIN               @""
#define FL_BITLY_KEY                 @""
#define FL_FACEBOOK_APP_ID           @""

// vim:tabstop=4 expandtab shiftwidth=4 syntax=objc
